common_stage:
  args:
    type: list
  default:
    - proxy
    - repo
    - rpm
    - grub
    - ifcfg
    - sysctl
    - limits
    - snmpd
    - ssh
    - postfix
    - rsyslog

mysql_stage:
  args:
    type: list
  hostname:
{%- for mhost in mha_hostlist %}
    {{ mhost }}:
      - common
{%- endfor %}
{%- for dhost in data_hostlist %}
    {{ dhost }}:
      - common
      - rpm
      - conf
      - backup
      - limits
      - initdb
      - databases
      - users_app
      - users_base
      - users_dba
      - users_mha
      - users_vtr
      - replication
{%- endfor %}

mha_stage:
  args:
    type: list
  default:
    - rpm
    - ssh
    - conf

parted_stage:
  args:
    type: list
  default:
    - parted
    - rpm
    - mount

mysql_root:
  default:
    password: {{ password }}

mysql_backup:
  default:
    backup_root_dir: /dbbackup
    backup_data_dir: /dbbackup/{{ service_name }}/{{ dbfqdn }}/{{ hostname }}
    retention_sets: 3
    incr_retention_sets: 2
    enable: {{ enable_backup }}

mysql_app_user:
  default:
    app:
      - name: root
        host: '10.%'
        password: '{{ password }}'
        priv: '*.*:ALL,GRANT'
        state: present
      - name: root
        host: '172.%'
        password: '{{ password }}'
        priv: '*.*:ALL,GRANT'
        state: present

mysql_database:
  args:
    type: list
  dafault:
    - name: {{ database }}
      collation: utf8mb4_general_ci
      encoding: utf8mb4

mha_group:
  default:
    mha:
{{ mha_group }}

mysql_replication:
  hostname:
{{ mysql_replication }}

mha_vip:
  default:
    db_vip: {{ db_vip }}

parted:
  args:
    type: list
  hostname:
{%- for dhost in data_hostlist %}
    {{ dhost }}:
      - device: /dev/sdb
        number: 1
{%- endfor %}

mkfs:
  args:
    type: list
  default:
    - device: /dev/sdb1
      fstype: ext4

nfs_pkgs:
  args:
    type: list
  default:
    - nfs-utils

mount:
  args:
    type: list
  hostname:
{%- for dhost in data_hostlist %}
    {{ dhost }}:
      - path: /data
        src: /dev/sdb1
        fstype: ext4
      - path: /dbbackup
        src: "nfs:/mnt/CVBackup"
        fstype: nfs
        opts: rw,bg,hard,intr,rsize=32768,wsize=32768,vers=3,proto=tcp,timeo=600,retrans=2
{%- endfor %}
