common_stage:
  args:
    type: list
  default:
    - proxy
    - repo
    - rpm
    - ifcfg
    - sysctl
    - limits
    - snmpd
    - ssh
    - postfix
    - rsyslog

heartbeat_stage:
  hostname:
{%- for mhost in mmm_hostlist %}
    {{ mhost }}:
      - rpm
      - conf
{%- endfor %}

pacemaker_stage:
  hostname:
{%- for mhost in mmm_hostlist %}
    {{ mhost }}:
      - rpm
      - users
      - conf
{%- endfor %}

mmm_stage:
  args:
    type: list
  default:
    - rpm
    - conf

mysql_stage:
  args:
    type: list
  hostname:
{%- for mhost in mmm_hostlist %}
    {{ mhost }}:
      - common
{%- endfor %}
{%- for dhost in data_hostlist %}
    {{ dhost }}:
      - common
      - rpm
      - conf
      - backup
      - limits
      - initdb
      - databases
      - users_app
      - users_base
      - users_dba
      - users_mmm
      - users_vtr
      - replication
{%- endfor %}

parted_stage:
  args:
    type: list
  default:
    - parted
    - rpm
    - mount

mysql_backup:
  default:
    backup_root_dir: /dbbackup
    backup_data_dir: /dbbackup
    retention_sets: 3
    incr_retention_sets: 2
    enable: {{ enable_backup }}

mmm_group:
  default:
    {{ cluster_id }}:
      monitor_vip:
        {{ mon_fqdn }}:
          - {{ monitor_vip }}
      write_vip:
        {{ writer_fqdn }}:
{%- for wip in writer_vips %}
          - {{ wip }}
{%- endfor %}
      read_vip:
        {{ reader_fqdn }}:
{%- for rip in reader_vips %}
          - {{ rip }}
{%- endfor %}
      hosts:
        - hostname: {{ mon_host1 }}
          ha_peer: {{ mon_host2 }}
          role: monitor
        - hostname: {{ mon_host2 }}
          ha_peer: {{ mon_host1 }}
          role: monitor
        - hostname: {{ data_host1 }}
          ha_peer: {{ data_host2 }}
          mmm_host: master1
          mmm_peer: master2
          role: master
        - hostname: {{ data_host2 }}
          ha_peer: {{ data_host1 }}
          mmm_host: master2
          mmm_peer: master1
          role: master

mysql_replication:
  hostname:
    {{ data_host1 }}:
      master_host: {{ data_host2 }}
    {{ data_host2 }}:
      master_host: {{ data_host1 }}

pacemaker_group:
  default:
    mmmcluster:
      nodes:
{%- for mhost in mmm_hostlist %}
        - {{ mhost }}:
{%- endfor %}
      property:
        stonith-enabled: "false"
        no-quorum-policy: "ignore"
      resource:
        - id: db_vip
          type: "IPaddr2"
          group:
            name: mmm
          options:
            ip: {{ monitor_vip }}
            cidr_netmask: 24
            nic: eth0
          op:
            - action: monitor
              options:
                interval: 5s
        - id: mmm_monitor_srv
          type: "systemd:mysql-mmm-monitor"
          group:
            name: mmm
          op:
            - action: monitor
              options:
                interval: 5s
