win_common_stage:
  args:
    type: list
  default:
    - parted
    - feature

mssql_stage:
  args:
    type: list
  default:
    - msi
    - patch
    - client
    - conf
    - database
    - users

mssql_password:
  default:
    svc_password: 'password'
    oper_password: 'password'
    agent_password: 'password'
    sa_password: 'password'

mssql_conf:
  default:
    download_server: http://10.42.20.99/software
    # Production, Staging, Testing
    env_state: Production
    service_account: 'srv_account'
    admin_account: 'adm_account'
    oper_account: 'op_account'
    ro_account: 'readonly_account'
    mail_admin: admin@mssql
    mail_qa: qa@mssql

mssql_database:
  args:
    type: list
  default:
    - {{ database }}

mssql_user:
  args:
    type: list
  default:
    - username: {{ dbuser }}
      password: {{ password }}
      dbrole: sysadmin
