common_stage:
  args:
    type: list
  default:
    - proxy
    - repo
    - rpm
    - grub
    - ifcfg
    - sysctl
    - limits
    - snmpd
    - ssh
    - postfix
    - rsyslog

mysql_stage:
  args:
    type: list
  default:
    - common
    - rpm
    - conf
    - limits
    - initdb
    - databases
    - users_app
    - users_base
    - users_dba
    - users_vtr
    - import

mysql_backup_stage:
  args:
    type: list
  default:
    - conf
    - cron

parted_stage:
  args:
    type: list
  default:
    - parted
    - rpm
    - mount

mysql_root:
  hostname:
    {{ hostname }}:
      password: '{{ password }}'

mysql_backup:
  default:
    backup_root_dir: /dbbackup
    backup_data_dir: /dbbackup/{{ service_name }}/{{ hostname }}/{{ hostname }}
    retention_sets: 3
    incr_retention_sets: 2

mysql_app_user:
  default:
    app:
      - name: root
        host: '10.%'
        password: '{{ password }}'
        priv: '*.*:ALL,GRANT'
        state: present

mysql_database:
  args:
    type: list
  default:
    - name: {{ database }}
      collation: utf8mb4_general_ci
      encoding: utf8mb4
