common_stage:
  args:
    type: list
  default:
    - proxy
    - repo
    - rpm
    - grub
    - ifcfg
    - sysctl
    - limits
    - snmpd
    - ssh
    - postfix
    - rsyslog

mysql_stage:
  args:
    type: list
  default:
    - pxc_common
    - pxc_rpm
    - conf
    - backup
    - limits
    - initdb
    - databases
    - users_app
    - users_base
    - users_dba
    - users_vtr
    - pxc_bootstrap
    - import

parted_stage:
  args:
    type: list
  default:
    - parted
    - rpm
    - mount

mysql_root:
  default:
    password: '{{ password }}'

mysql_backup:
  hostname:
{%- for dhost in data_hostlist %}
    {{ dhost }}:
        backup_root_dir: /dbbackup
        backup_data_dir: /dbbackup/{{ service_name }}/{{ dhost }}/{{ dhost }}
        retention_sets: 3
        incr_retention_sets: 2
        enable: {{ enable_backup }}
{%- endfor %}

mysql_app_user:
  default:
    app:
      - name: root
        host: '10.%'
        password: '{{ password }}'
        priv: '*.*:ALL,GRANT'
        state: present

mysql_database:
  args:
    type: list
  default:
    - name: {{ database }}
      collation: utf8mb4_general_ci
      encoding: utf8mb4

mysql_plugin:
  args:
    type: list
  default:
    - validate_password
    - wsrep

mysql_daemon:
  args:
    check_osver: True
  default:
    7:
      mysql_daemon: mysql
      version: 5.7.21

pxc_group:
  default:
    pxcluster:
{{ pxc_group }}
{%- for dhost in data_hostlist %}
      - hostname: {{ dhost }}
        role: data
{%- if loop.index == 0 %}
        bootstrap: True
{%- else %}
        bootstrap: False
{%- endif %}
{%- endfor %}
{%- for mhost in mon_hostlist %}
      - hostname: {{ mhost }}
        role: arbitrator
        bootstrap: False
{%- endfor %}
